body {
    background-color: #395C6B;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.btn {
    background-color: aquamarine;
    text-align: center;
    display: inline-block;
}